
ul a{
  padding: 1rem;
  display: inline-block;
  color: #000;
  font-size: 25px;
}

a span{
  background: #1a3d27;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
  cursor: pointer;
}

header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;

}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
  margin-right: 3%;

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;

}
